@import '../../global.scss';

.article {
  .image {
    object-fit: cover;
    height: 300px;
    width: 100%;
    border: 0.1rem solid $underline;
    border-radius: $radius;
    display: block;
  }

  .article-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h3 {
      margin: 1rem;
    }
    p {
      margin: 0.7rem;
    }

    a {
      margin-top: 0.75rem;
      flex-grow: 3;
      text-decoration: none;
      width: 8rem;
      color: white;
      background: $btn-color;

      &:hover {
        background: lighten($color: $btn-color, $amount: 5%);
      }
    }
  }

  @media screen and (min-width: 768px) {
    max-width: 40rem;
  }
}
